@import "tailwindcss";

/* Enable text selection globally for all elements */
* {
  -webkit-user-select: text; /* Safari */
  -ms-user-select: text;     /* IE 10 and IE 11 */
  user-select: text;        /* Standard syntax */
}


